.btn-cont {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  margin-top: -66px;
}

.btn {
  border-radius: 40px !important;
  padding: 20px 40px !important;
  border-width: 4px !important;
  border-color: white !important;
  background-color: white !important;
  color: purple !important;
  filter: drop-shadow(4px 4px 4px grey);
}

.btn:hover {
  color: white !important;
  background-color: purple !important;
  border-color: white !important;
}
