.grid {
  text-align: center !important;
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 2px grey);
}

.icon {
  color: #ff497c !important;
}

.extra {
  margin: 0px !important;
  padding: 0px !important;
}
