.nav-item {
  display: inline;
}

.nav-link {
  text-decoration: none !important;
  color: rgb(0, 0, 0, 0.5) !important;
  font-size: 1.1rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-link:hover {
  color: rgb(0, 0, 0, 1) !important;
}

.nav-item {
  margin-left: 30px !important;
}

.contact {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fb8dac;
  font-size: 1.3rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.MuiAppBar-colorPrimary {
  background-color: transparent !important;
}

.mobileMenu {
  display: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .MuiPaper-elevation4 {
    box-shadow: 0px 0px 0px green !important;
  }
}
